[submodule "vendor/mattpocock-skills"]
	path = vendor/mattpocock-skills
	url = https://github.com/mattpocock/skills.git
[submodule "vendor/research-skills"]
	path = vendor/research-skills
	url = https://github.com/saidwivedi/research-skills.git
