[submodule "third_party/mattpocock-skills"]
	path = third_party/mattpocock-skills
	url = https://github.com/mattpocock/skills.git
[submodule "third_party/research-skills"]
	path = third_party/research-skills
	url = https://github.com/saidwivedi/research-skills.git
